@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {

    .animate-pulse-blog {
        animation: bounce 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    @keyframes bounce {
        0%, 100% {
            color: #FFFFFF;
            transform: translateY(-25%);
        }
        50% {
            color: #1BC2EC;
        }
    }

    .animate-pulse-invert-blog {
        animation: invert-bounce 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    @keyframes invert-bounce {
        0%, 100% {
            color: #1BC2EC;
            transform: translateY(-25%);
        }
        50% {
            color: #FFFFFF;
        }
    }

    .bg-darth-torus {
        @apply bg-[#190759]
    }

    .bg-void {
        @apply bg-[#010A26]
    }

    .bg-clarinet {
        @apply bg-[#022859]
    }

    .bg-clear-blue {
        @apply bg-[#227CF2]
    }

    .bg-bleached-silk {
        @apply bg-[#F2F2F2]
    }

    .text-bleached-silk {
        @apply text-[#F2F2F2]
    }
    .text-void {
        @apply text-[#010A26]
    }

    .error {
        @apply text-black font-light
    }

    textarea:focus, input:focus{
        outline: none;
    }

    .imagem-container {
        perspective: 1000px;
        overflow: hidden;

    }

    /*.imagem-container:hover {*/
    /*    animation: test 3s;*/
    /*}*/

    .imagem {
        transition: transform 2s;
        transform: rotateX(0deg) rotateY(180deg);
        animation: test 10s infinite;
    }

    /*.imagem:hover {*/
    /*    transform: rotateX(0deg) rotateY(0deg);*/
    /*}*/

    @keyframes test {
        0% {
            transform: rotateX(0deg) rotateY(180deg);
        }
        50% {
            transform: rotateX(360deg) rotateY(0deg);
        }
        100% {
            transform: rotateX(0deg) rotateY(180deg);
        }
    }
}
